h1{
    text-align: center;
}

input {
    font-family: Didot;
    font-size: 100%;

    width : 150px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


button {
    background-color: #569AFF; /* Green */
    border: none;
    color: white;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
}

.button:hover {
    background-color: #ffffff; 
    border: 2px solid #569AFF;
    color: #569AFF;
    box-shadow: 0 6px 8px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19)
  }